.site-wrapper {
  background-color:#FFFFFF;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 1000px;
  -webkit-box-shadow: inset 0 0 100px rgba(127,0,127,.4);
          box-shadow: inset 0 0 100px rgba(127,0,127,.4);
}

.jumbotron h1 {
	font-family: verdana;
	font-size: 8em;
}

.jumbotron {
	background-color: rgba(0,0,0,0);
	padding-bottom: 0;
	padding-top: 10px;
}

.container {
	text-align: center;
}