body {
	background-color: #FFF;
}

#wrapper {
	width: 1000px;
	position: relative;
	display: block;
	margin: auto;
	text-align: center;
	clear: both;
	font-family: helvetica;
}

#header {
	width: 100%;
	height: 150px;
	text-align: center;
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 190%;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.cover {
	background-color: black;
	opacity: .5;
	width: 100%;
	height: 100%;
}

.sidebar {
	float: left;
	display: inline-block;
	height: 220px;
	width: 275px;
	margin-left: 24px;
	border-left-width: 5px;
	border-left-color: black;
	border-left-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.sidebar li {
	text-align: left;
	padding-top: 25px;
	font-size: 150%;
}

.content {
	float: left;
	display: inline-block;
	height: auto;
	width: 600px;
	font-size: 150%;
	text-align: left;
	margin-left: 80px;
	padding-top: 25px;
	border-right-width: 5px;
	border-right-style: solid;
}

.content p {
	margin-top: 15px;
	margin-bottom: 20px;
}

.ttl {

}

.blt, .ttl2 {
	padding-left: 25px;
	padding-right: 30px;
	margin-bottom: 15px;
	font-size: 80%;
}

.ttl2 {
	padding-left: 45px;
	font-style: italic;
}

.ttl2 a {
	color: #4444CC;
}

.prefooter {

}

#header h1 {
	color: white;
	display: inline-block;
}

#header {
	border-width: 5px;
	border-style: solid;
}


#footer {
	clear: both;
	width: 100%;
	height: 150px;
	padding-top: 200px;
	text-align: center;
	color: #AAAAAA;
}

#navbar {
	width: 100%
}

.nav1 {
	height: 100%;
	float: left;
	text-align: center;
}

#resume .p2 {
	margin-left: 50px;
}

#resume {
	text-align: left;
	margin: 0;
	margin-left: 100px;
	margin-right: 100px;
}

a:hover {
	text-decoration: underline;
}